<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"/>
	<title>会議室予約</title>
	<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>
<body th:with="user=${#authentication.principal.user}">
	<h2>会議室予約</h2>

	<form th:object="${reservationForm}" th:action="@{'/reservations/'}" method="post">
		日付：
		<select th:field="*{reservedDate}">
			<option th:each="date : ${dateList}" th:text="${date}" th:value="${date}"></option>
		</select>
		<span th:if="${#fields.hasErrors('reservedDate')}" th:errors="*{reservedDate}" style="color:red"></span>
		<br/>
		時間帯：
		<select th:field="*{startTime}">
			<option th:each="time : ${timeList}" th:text="${time}" th:value="${time}"></option>
		</select>
		<span th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}" style="color:red"></span>
		-
		<select th:field="*{endTime}">
			<option th:each="time : ${timeList}" th:text="${time}" th:value="${time}"></option>
		</select>
		<span th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}" style="color:red"></span>
		<br/>
		会議室：
		<select th:field="*{roomId}">
			<option th:each="room : ${rooms}" th:text="${room.roomName}" th:value="${room.roomId}"></option>
		</select>

		<br/>
		<button>予約</button>
	</form>
	<p style="color: red" th:if="${error != null}" th:text="${error}"></p>
	<br/>

	<h3>予約一覧</h3>
	<table>
		<tr>
			<th>日付</th>
			<th>開始時間</th>
			<th>終了時間</th>
			<th>会議室</th>
			<th>予約者</th>
			<th>操作</th>
		</tr>
		<tr th:each="reservation : ${reservations}">
			<td>
				<span th:text="${reservation.reservedDate}"></span>
			</td>
			<td>
				<span th:text="${reservation.startTime}"></span>
			</td>
			<td>
				<span th:text="${reservation.endTime}"></span>
			</td>
			<td>
				<span th:text="${reservation.meetingRoom.roomName}"></span>
			</td>
			<td>
				<span th:text="${reservation.user.lastName}"></span>
				<span th:text="${reservation.user.firstName}"></span>
			</td>
			<td>
				<form th:action="@{'/reservations/'}" method="post"
					sec:authorize="${hasRole('ADMIN') or #vars.user.userId == #vars.reservation.user.userId}">
					<input type="hidden" name="reservationId" th:value="${reservation.reservationId}"/>
					<input type="submit" name="cancel" value="取消"/>
				</form>
			</td>
		</tr>
	</table>
</body>
</html>